aniso8601==8.0.0
appdirs==1.4.3
attrs==19.3.0
Authlib==0.13
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==3.2
distlib==0.3.0
filelock==3.0.12
Flask==1.0.2
Flask-Ext==0.1
Flask-Login==0.4.1
flask-marshmallow==0.11.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.0
Flask-WTF==0.14.3
idna==2.8
importlib-metadata==1.5.0
importlib-resources==1.0.2
itsdangerous==0.24
Jinja2==2.7.3
ma==1.0.2
ma.mongo==1.0.2
MarkupSafe==0.23
marshmallow==3.4.0
more-itertools==8.2.0
oauthlib==3.0.1
packaging==20.1
pkg-resources==0.0.0
pluggy==0.13.1
psycopg2-binary==2.8.4
py==1.8.1
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyparsing==2.4.6
pytest==5.3.5
python-dotenv==0.11.0
pytz==2019.3
rauth==0.7.0
requests==2.21.0
six==1.14.0
SQLAlchemy==0.9.8
toml==0.10.0
tox==3.14.5
urllib3==1.24.3
virtualenv==20.0.4
wcwidth==0.1.8
Werkzeug==0.9.6
WTForms==2.2.1
zipp==3.0.0
pytest-mock==1.10.0